# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Coverage directory used by tools like istanbul
coverage
**/coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
**/build/Release

# Dependency directories
node_modules/
**/node_modules

# Optional npm cache directory
.npm
**/.npm

# Optional eslint cache
.eslintcache
**/.eslintcache

# Output of `npm pack`
*.tgz
**/*.tgz

# Output of `wp-scripts plugin-zip`
*.zip
**/*.zip

# dotenv environment variables file
.env
**/.env
.DS_Store
**/.DS_Store
